@font-face {
	font-family: 'NeoDunggeunmoPro-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
.container {
	font-family: 'NeoDunggeunmoPro-Regular';
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
.page {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	max-width: 500px;
	padding: 0 20px;
	background-color: #F7F7F7;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

*/

.loginTitleWrap {
	margin-top: 13%;
	font-size: 30px;
	font-weight: 700;
	color: #262626;
}

.registerTitleWrap {
	margin-top: 5%;
	font-size: 30px;
	font-weight: 700;
	color: #262626;
}

.selectTitleWrap {
	margin-top: 8%;
	font-size: 30px;
	font-weight: 700;
	color: #262626;
}

.textToRegisterPage {
	text-decoration : underline;
	display: inline-block;
	cursor: pointer;
}

.eatToday {
	margin-top: 3%;
	font-size: 2rem;
	margin-left: auto;
	cursor: pointer;
}

.registerValidationMessage {
	font-size: 0.7rem;
	margin-left: auto;
	color: crimson;
	position: absolute;
}
